body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #8c8c8c;
}

header {
    background-color: #8c8c8c;

}

header h1 {
    margin: 0;
    padding-top: 100px;
    font-size: 50px;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: yellowgreen;
    transition: 0.3s;

    &:hover {
        transform: translateY(-3px);
        color: yellow;
        text-decoration: underline;
      }
}
  
header p {
    font-size: 25px;
    color: rgb(72, 72, 72);
    padding-top: 20px;
}

#divider-container-flex {
    display: flex;
    justify-content: center;
}

.divider-line {
    height: 5px;
    background-color: black;
    width: 20em;
}

nav {
    margin-top: 50px;
    background-color: black;
    display: inline-block;
    width: 300px;
    color: white;
    border-radius: 10px;
    padding: 0px 60px;
}
.nav-btns {
    display: inline-block;
    margin: 0px 10px 10px;
    padding: 10px;
    border: none;
    background-color: #606970;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        transform: translateY(-2px);
        transform: rotate(2deg);
    }
}

a {
    display: inline-block;
}